body {
   
}
/* Metadata */
.chordpro-section-label,
.chordpro-metadata {
    font-size: 0.9em;
    margin: 0em 0;
}
.chordpro-title {
    font-size: 2em;
    font-weight: bold;
}
.chordpro-subtitle {
    font-size: 1.5em;
    font-weight: 300;
}
.chordpro-key {
    display: inline-block;
    font-size: 1em;
    padding: 5px 10px 0;
    border: 3px solid #3F3F3F;
    border-radius: 4px;
    width: auto;
    line-height: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}
.chordpro-metadata-value {
    color: red;
}
.chordpro-tab {
    font-family: monospace;
}
/* Lines & Chorus */
.chordpro-line {
    height: 2.5em;
    margin-bottom: 0.3em;
}
.chordpro-line-text-only, .chordpro-line-chords-only {
    height: 1.5em;
}
.chordpro-chorus {
    padding-left: 10px;
    padding-bottom: 3px;
    border-left: 3px solid #3F3F3F;
}
.chordpro-block {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.chordpro-chord {
    position: relative;
    display: inline-block;
    padding-right: 3px;
    font-weight: bold;
    font-size: 0.9em;
    color: red;
    top: 0.5em;
}
.chordpro-text {
    position: relative;
    display: block;
    top: -0.2em;
}
/* Additional styles for the converter page */
.chordpro-result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: f9f9f9;
}
/* Estilo modificado para VERSO y CORO con altura reducida */
.chordpro-metadata.chordpro-comment {
    background-color: #3F3F3F;
    color: #fff;
    padding: 2px 4px;
    font-weight: bold;
    max-width: 25%;
    display: inline-block;
    line-height: 1.2em;
}
.chordpro-section {
    margin-bottom: 0em;
}
/* Nuevo estilo para el subtítulo */
.chordpro-metadata.chordpro-subtitle {
    color: blue;
}
